<app-navbar></app-navbar>

<div class="container my-5"><div>
	<form>
		<div class="form-row">
			<div class="col-6">
				<div class="form-group">
					<label for="firstname"> Firstname</label>
				    <input type="text" class="form-control" name="firstname" id="firstname">
			    </div>
			</div>

			<div class="col-6">
				<div class="form-group">
					<label for="lastname"> Lastname</label>
				    <input type="text" class="form-control" name="lastname" id="lastname">
			    </div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-6">
				<div class="form-group">
					<label for="exampleInputEmail1"> Email address </label>
				    <input type="email" class="form-control" name="exampleInputEmail1" id="exampleInputEmail1">
			    </div>
			</div>
		</div>
	</form>
</div>


<app-footer></app-footer>